.mimodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 10;
  opacity: 0;

  &.modal-visible {
    display: block;

    &.modal-simple {
      opacity: 1;
    }
  }
}

.mimodal {
  position: absolute;
  border-radius: 5px;
  background: #fff;
  z-index: 20;
  transform: translate(-50%, -50%);
  top: 0;
  left: 0;
  padding: 20px;
  box-shadow: 0 3px 10px #000;

  h3 {
    margin-top: 0;
  }

  &.data-dialog {
    width: 65%;
    background-color: #23241f;

    pre {
      background: none;
      border: 0 none;
      box-shadow: none;
      margin: 0;
      color: darken(#fff, 5%);
    }
  }

  button {
    padding: 5px 15px;
  }

  &.positioned {
    transform: translate(-50%, -100%);

    .btn-group {
      &:before {
        content: '';
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 10px solid #fff;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, 10px);
      }
    }
  }

  .btn-group {
    position: relative;
    margin-top: 20px;
    text-align: right;
    clear: both;
  }
}
